@media (max-width: 1500px) {
    .container {
        max-width: 1300px;
    }
}
@media (max-width: 1300px) {
    .container {
        max-width: 1100px;
    }
}
@media (max-width: 1100px) {
    .container {
        max-width: 900px;
    }
}
@media (max-width: 900px) {
    .container {
        max-width: 700px;
    }
    .movie__detail-stars img {
        width: 25px;
        height: 25px;
    }
    .top250__card {
        grid-template-columns: 50px 80px 1fr 50px;
    }
    .top250__card-rating {
        font-size: 26px;
    }
}
    

 
 @media (max-width: 768px) {
    .container {
        margin-left: 15px;
        margin-right: 15px;
    }
    .header__menu-list {
        display: none;
    }
    .header__cta {
        display: none;
    }
    .header__menu-burger {
        display: block;
        cursor: pointer;
    }
    .hero__title {
        font-size: 70px;
    }
    .hero__subtitle {
        font-size: 24px;
    }
    .footer__wrapper-top {
        flex-direction: column;
        gap: 15p;
        align-items: start;
    }
    .movie__detail-stars {
        justify-content: center;
        gap: 0;
    }
    .movie__detail-stars img {
        width: 25px;
        height: 25px;
    }
    .top250__card-winner .top250__card-number {
        font-size: 20px;
    }
    .top250__card-poster {
        width: 70px;
        height: 110px;
    }
    .actor__modal-info {
        display: flex;
        flex-direction:column ;
    }
    
} 
@media (max-width: 600px) {
    .top250__card {
        display: flex;
        flex-direction: column;
    }
}

 @media (max-width: 465px) {
    .hero__title {
        font-size: 40px;
    }
    .hero {
        padding: 100px 0;
    }
    .hero__subtitle {
        font-size: 20px;
    }
    .films__pagination {
        gap: 10px;
    }
    .footer__wrapper-bottom {
        flex-direction: column;
    }
    .subscribe__input  {
        width: 280px;
    }
    .subscribe {
        padding: 5px;
    }
    .movie__detail-poster {
        width: 270px;
    }
 }

 @media (max-width: 390px) {
    .hero__title {
        font-size: 40px;
    }
    .hero {
        padding: 100px;
    }
    .hero__subtitle {
        font-size: 20px;
    }
    .footer__politic {
        font-size: 16px;
    }
 }